

{%extends 'base.html'%} 
{% load static %}
{%block 'conteudo'%}
<div class="p-4"><!--container-->
    <!-- Blocos -->     
    <div class="row">
        <div class="col-sm-3 col-lg-3">
            <!-- Bloco menor 1 -->
                    <div class="half-unit" style="text-align:center">
                        <dtitle >Usuário</dtitle>
                        <hr>
                            <div class="clockcenter">
                                <digiclock>Operador I</digiclock>
                            </div>
                    </div>
      
            <!-- Bloco menor 2 -->
                  <div class="half-unit "  style="text-align:center;">
                        <dtitle>Ordem de produção</dtitle>
                        <hr>                         
                        <form method="POST" action="{%url 'inserirOP'%}">
                            {% csrf_token %}
                            
                            <div class="row">
                              <div class="col">
                                <select class="form-control" id="exampleFormControlSelect2" name="abrir_op">
                                {%if opsCadastradas%}   
                                    {% for op in opsCadastradas %}                                    
                                    <option >{{op.numero_op}}</option> 
                                    {% endfor %} 
                                    {%else%}
                                    <option >Sem Ops</option>
                                {% endif %}   
                                                                   
                                </select>
                              </div>
                              <div class="col ">
                                {% if op_aberta %}
                                    <button type="submit" class="btn btn-success  disabled">OPERANDO</button>
                                    {% else %}                                    
                                    <!--inicio modal-->
                                <button type="button" class="btn btn-success " data-toggle="modal" data-target="#exampleModalCenter1">
                                    INSERIR
                                </button>
                                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">INICIAR OP</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body alert alert-warning">
                                            Deseja iniciar a produção desta OP?                           
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                        <button type="submit" class="btn btn-primary" value="Sim">sim</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!--Fim modal-->
                                    
                                {% endif %}
                              </div>                              
                            </div>
                          </form> 
                 </div>    
      
        </div>
        <div class="col-sm-3 col-lg-3">
            <div class="dash-unit" style="text-align:center">
                <dtitle>OP</dtitle><br/>
                
                <div style="text-align:left">    
                {% for abrir_op in op_aberta %}
                  
                    {{abrir_op.numero_op}}<br/>              
                    {{abrir_op.fornecedor}} <br/>                 
                    {{abrir_op.largura_capa}}<br/>                   
                    {{abrir_op.comprimento_capa}} <br/>                 
                    {{abrir_op.expessura_capa}}<br/>                   
                    {{abrir_op.qualidade_capa}}<br/>                   
                    {{abrir_op.quantidade_producao}} <br/>                  
                    {{abrir_op.hora_inicio_prod}} <br/>
                    <div class="row">
                        <div class="col-sm-6">   
                            <form id="form1" action="{% url 'para_op' %}" method="POST">
                                {% csrf_token %}
                                <input  type="hidden" value={{abrir_op.numero_op}} name="op">
                                
                                <!--inicio modal-->
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
                                    PARAR OP
                                </button>
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">PARAR OP</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body alert alert-warning">
                                            Tem certeza que deseja PARAR com a produção desta OP?                           
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                        <button type="submit" class="btn btn-primary" value="Sim">sim</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <!--Fim modal-->

                            </form>
                        </div>
                        <div class="col-sm-6">    
                            <form id="form2" action="{% url 'finaliza_op' %}" method="POST">
                                {% csrf_token %}
                                <input  type="hidden" value={{abrir_op.numero_op}} name="op">
                                <!--<button type="submit" class="btn btn-info ">FINALIZAR OP</button>-->
                                
                                <!--inicio modal-->
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter1">
                                    FINALIZAR OP
                                </button>
                                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">FINALIZAR OP</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body alert alert-warning">
                                            Tem certeza que deseja FINALIZAR a produção desta OP?                           
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                        <button type="submit" class="btn btn-primary" value="Sim">sim</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!--Fim modal-->

                            </form>  
                        </div>
                    </div>
                       
                                      
                {% endfor %}
                </div> 
                
            </div>
        </div>
        <div class="col-sm-3 col-lg-3 ">
            <div class="dash-unit" style="text-align:center" >
                <dtitle>Paradas</dtitle>
                <hr>
                <div class="clockcenter" ><!--id="paradas"-->
                    <!--Paradas vindo de página paradas por ajax-->                            
            </div> 
                 
            <br>
                
            </div>
        </div>
        <div class="col-sm-3 col-lg-3">
            <!-- Bloco menor 1 -->
                    <div class="half-unit" style="text-align:center">
                        <dtitle>Produção</dtitle>
                        <hr>
                            <div class="clockcenter" id="producao">                                                             
                                <!--Produção vindo de página produção por ajax-->
                            </div>
                  </div>
      
            <!-- Bloco menor 2 -->
                  <div class="half-unit" style="text-align:center">
                        <dtitle>Tempo total de máquina parada</dtitle>
                        <hr>
                      <div class="clockcenter" id="paradas" ><!--id="paradas"-->
                              <!--Paradas vindo de página paradas por ajax-->                            
                      </div>                      
                  </div>
      
        </div>
    </div><!-- /row -->
    <div class="row "><!--div de linha que estruuta as clolunas col-->
        <div class="col-sm-3 col-lg-3 ">
            <div class="dash-unit overflow-auto" >
                <dtitle>Ordem de produção em aberto</dtitle>
                <hr>
                <form action="{% url 'abreOp_Parada' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">    
                            <select name="op" class="form-control" id="exampleFormControlSelect2">
                                {% for opin in opsIniciadas %}                            
                                    <option>{{opin.numero_op}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-secondary " >
                                ABRIR {{opin.numero_op}}
                            </button>
                        </div>
                    </div>
                    
                </form>
            
            </div>
        </div>  
                <div class="col-sm-6 col-lg-6 ">
                    <div class="dash-unit bg-white text-dark" style="text-align:center">
                        <dtitle>Gráfico Hora X Hora</dtitle>
                        <hr>   
                        <canvas id="line-chart" width="800" height="210"></canvas>   
                        <script> 
                            new Chart(document.getElementById("line-chart"), {
                            type: 'line',
                            data: {
                              labels: [730,830,930,1030,1130,1230,1330,1430,1530,1630,1730],
                              datasets: [{ 
                                  data: [10,20,30,35,36,40,45,46,70,75,80], // utiliza o Json como variavel do gráfico
                                  label: "Produção",
                                  borderColor: "#3e95cd",
                                  fill: false
                                },
                                 { 
                                  data: [10,20,30,40,50,60,70,80,90,100,110],
                                  label: "Meta",
                                  borderColor: "#8e5ea2",
                                  fill: false
                                }
                              ]
                            },
                            options: {
                              title: {
                                display: true,
                                text: 'Gráfico de produção Hora X Hora'
                              }
                            }
                          });
                      </script>
                    <br>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3 ">
                    <div class="dash-unit" style="text-align:center">
                        <dtitle>Usuário</dtitle>
                        <hr>      
                    <h2>GRÁFICO DE BARRA </h2>   
                    TEMPO PRODUÇÃO X MÁQUINA PARADA   
                    <br>
                        
                    </div>
                </div>
            </div> 
            <div class=" col-lg-12 " ><!--style="width: 500px; height: 900px;"-->
                <!-- Bloco menor 1 -->
                <div class=" col-lg-12 ">
                    <div class="dash-unit" style="text-align:center">
                        <dtitle>Rodapé</dtitle>
                        <hr>      
                    <h2>barra de status e logo da empresa </h2>   
                    Logo da empresa   
                    <br>
                        
                    </div>
                </div>
            </div>
             
        </div>
        
    </div>
    
    
</div>


    
{%endblock%}
