 
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>    
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
        
</head>
<body>  
    
    <div class="container">
        
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link " style="color: rgb(255, 255, 255);" href="{%url 'app_home'%}">Produção</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(255, 255, 255);" href="{%url 'app_cadastro'%}">Cadastro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(255, 255, 255);" href="{%url 'app_consulta'%}">Consulta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(255, 255, 255);" href="{%url 'app_atualiza'%}">Atualiza</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(255, 255, 255);" >Versão 4.3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(255, 255, 255);" onclick="maq_parada()">atualizar</a>
              <!--{%url 'producaoOP'%}-->
            </li>
          </ul>
      
        <div >
            {% if cons_justifica %}
            <form action="{% url 'editaJustificativa' %}" method="POST">  
                {% csrf_token %}
                <div class="row mt-3 ">
                {% for edit in cons_justifica %}
                
                    
                    <div class="card text-white bg-danger mb-3 col-3" ><!--style="max-width: 18rem;"-->
                        <div class="card-header">
                            OP {{edit.op}}
                        </div>                        
                            <div class="card-body ">
                                Parada
                            <div class="card-title "> {{edit.data_parada}}</div>
                                Retorno
                            <div class="card-title "> {{edit.data_retorno}}</div>
                            <div>
                                <input type="hidden" value="{{edit.op}}" name="op">
                                <input type="text" style="height: 183px;" class="form-control" placeholder="Digite aqui a justificativa da parada"  name="edit_justificativa">
                            </div>
                            <div>
                                <button class="btn btn-dark col-12" type="submit">Justificar</button>
                            </div>
                            
                        </div>
                    </div>
                   
                {% endfor %}
            </div>
               
            </form>
            {% endif %} 
        </div>  
    </div>             
</body>
</html>