
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>    
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body >   
        <div class="col-12">
            {% if consul_parada %}
            <form action="{% url 'justificaParada' %}" method="POST">  
                {% csrf_token %}
                 <td scope="row" class="bg-danger"><button type="submit" class="btn btn-danger btn-lg w-100 h-100 p-4 " >Justificar parada</button></td>
            </form>
            {% endif %} 
        </div>           
</body>
</html>